
.Rproj.user/3349BCA2/cpp-definition-cache
.Rproj.user/3349BCA2/persistent-state
*.pper
.Rproj.user/3349BCA2/sources/prop/FC979419
.Rproj.user/3349BCA2/sources/prop/BDD55A6D
.Rproj.user/3349BCA2/sources/prop/A2362169
.Rproj.user/3349BCA2/sources/session-a13a807b/1DD8FD41
.Rproj.user/3349BCA2/rmd-outputs
.Rproj.user/3349BCA2/sources/prop/F389FF45
.Rproj.user/3349BCA2/sources/session-a13a807b/2DFD4EA3-contents
.Rproj.user/3349BCA2/sources/session-a13a807b/D225F06E
.Rproj.user/3349BCA2/sources/session-a13a807b/1DD8FD41-contents
.Rproj.user/3349BCA2/sources/session-a13a807b/lock_file
.Rproj.user/3349BCA2/sources/session-a13a807b/2DFD4EA3
.Rproj.user/3349BCA2/saved_source_markers
.Rproj.user/3349BCA2/sources/session-a13a807b/35B94F81
.Rproj.user/shared/notebooks/paths
