
.Rproj.user/3349BCA2/cpp-definition-cache
.Rproj.user/3349BCA2/persistent-state
*.pper
.Rproj.user/3349BCA2/sources/prop/FC979419
.Rproj.user/3349BCA2/sources/prop/BDD55A6D
.Rproj.user/3349BCA2/sources/prop/A2362169
.Rproj.user/3349BCA2/sources/session-a13a807b/1DD8FD41
